.contact {
background-color: rgb(46, 77, 124);
padding-left: 15%;
padding-right: 15%;

&-wrapper {
  background: rgb(223, 232, 222);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}
  &-profile {
    display: inline;
    text-align: center;

    & img {
      width: 150px;
    }
  }
}
