.cast {
  margin-bottom: 2rem;
&-member {
  font-size: 1.8rem;
    @media (max-width:950px) {
      font-size: 1.2rem;
    }
}
  &-team-header {
    color: rgb(177, 111, 52);
    text-shadow: .5px .5px black;
    text-align: center;
    font-size: 1.5rem;
  }
  &-table {

    @media (max-width:950px) {
      padding-left: 15px;
      padding-right: 15px;
      font-size: .8rem;
    }
    & table {
    margin: 0 auto;
}
    &-title {
        text-align: left;
        font-size: 1.4rem;
        padding-right: 5rem;
          @media (max-width:950px) {
            font-size: 1rem;

          }
    }
    & tr {
      & td {
        padding-bottom: .6rem;
      }
    }
  }


  &-bios {
    line-height: 1.6;
    margin: auto;

&-row{
  &-img {
    float: left;
    width: 190px;
    @media (max-width:950px) {
      float: none;
      margin: auto;
    }

  }
  &-biotext {
    float: left;
    max-width: 760px;
    margin-top: -20px;
    margin-bottom: -30px;

    @media (max-width:950px) {
      padding-left: 15px;
      padding-right: 15px;
      float: none;
      font-size: .9rem;

    }
  }
}
    & p {
      margin-bottom: 3rem;
    }

    & img {
      width: 175px;
    }
    &-wrapper {
        height: 100%;
        max-width: 950px;
        margin: auto;
        @media (max-width:950px) {
          padding-left: 15px;
          padding-right: 15px;
        }

        &::after {
          content: "";
          clear: both;
          display: table;
        }
    }
  }



}
