.row {



&::after {
  content: "";
  clear: both;
  display: table;
}
}

.row-6 {



  float: left;
  width: 50%;



}


.row-4 {


  float: left;
  width: 33.33%;



}

.row-3 {


  float: left;
  width: 25%;



}

.row-2 {


  float: left;
  width: 16.66%;


}
