.show-page {
  text-align: center;
  padding-top: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1.5rem;

  &-title {
    font-size: 2rem;
    text-decoration: underline;
    color: rgb(46, 77, 124);
  }

  &-author {
    margin-top: -3rem;
    font-size: 1.3rem;
  }

  &-dates {
    font-size: 1rem;
    margin-top: -1.8rem;
    color: rgb(32, 102, 108);
    text-shadow: .2px .2px grey;
  }

  &-synopsis {
    max-width: 45%;
    text-align: center;
    margin: auto;
    margin-top: -1rem;

    &-tag {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  &-tagline {
    font-style: italic;
  }

  & img {
  width: 80%;
  }



  &-location {
    font-size: 1.8rem;
    color: rgb(177, 111, 52);
    text-shadow: .2px .2px black;

    &-tag {
      font-weight: bold;
      font-size: 1.3rem;
    }

  &-meet {

    &-details {
      margin-top: -1.2rem;
    }
  }

&-address {
  font-size: 1rem;;
}
    &-dates {
      margin-top: -1.5rem;
      color: rgb(32, 102, 108);
    }
  }

&-directions {
  margin-top: -1.2rem;
}


&-castlist {
  font-size: 1.5rem;
}
}
